.charts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 24px;
  padding-bottom: 10px;
  width: 95%;
  margin: 0 auto;
}

.chart-card {
  display: flex;
  flex-direction: column;
  background: var(--color-bg-surface);
  border: 2px solid #000;
  border-radius: 0;
  position: relative;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 6px 6px 0px #000; 
}

.chart-card h2 {
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 3px solid black;
  text-align: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background: rgba(255, 182, 193, 0.707);
  font-size: 1.5rem;
  font-family: "Lexend Mega";
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}
.balance-trend-box{
  margin-inline: 24px;
  margin-block: 18px;
}
.spending-breakdown-box{
  margin-right: 40px;
  margin-block: 22px;
}

@media (max-width: 1200px) {
  .spending-breakdown-box{
  margin-inline: 40px;
  margin-block: 22px;
}

}
@media (max-width: 540px) {
  .spending-breakdown-box {
    margin-right: 10px;
    margin-left: 10px;
  } 
  .chart-card h2 {
    font-size: 1.3rem;
  }
}
