.empty-state {
  margin: 0 auto;
  padding-block: 80px;
  text-align: center;
  width: 95%;
  background: var(--color-bg-surface);
  border: 2px solid #000;
  border-radius: 15px;
  box-shadow: 6px 6px 0px #000; 
}

.empty-state-icon {
  width: 64px;
  height: 64px;
  margin: 0 auto 16px;
  color: black;
}

.empty-state h3 {
  font-family: "Lexend Mega";
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  margin-bottom: 8px;
}

.empty-state p {
  color: black;
  margin-inline: 30px;
  margin-bottom: 24px;
}